.my{
  text-align: center;
}

.button{
  margin: 0 2px 0 2px;
  width: 30%;
  height: 50px;
  font-size: 1.5rem;
  text-align: center;
  overflow:hidden;
}

.button_next{
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.myHand{
  font-size: 30px;
  padding: 20px 0 20px 0;
  color: rgb(0, 0, 0);
  border: solid black 1px;
}

.myHandWin{
  font-size: 50px;
  color:red;
}

.myHandLoss{
  font-size: 20px;
  color:blue;
}

.myHandDraw{
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.header{
  height: 10svh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header h2{
  padding: 0;
  margin: 0 0 0 0;
}

.header h3{
  font-size: 12px;
  margin: 0;
  padding: 0;
}

.main{
  /* height: 70vh; */
  /* min-height:calc(100svh - 30vh); */
  height:80svh;
  background-color: rgb(150, 138, 123);
  padding: 10px;
  overflow: scroll;
}

.sub1{
  background-color: rgb(255, 202, 202);
}

.sub2{
  background-color: rgb(255, 73, 73);
}

.sub3{
  background-color: rgb(255, 0, 242);
}

.winner{
  margin: 0;
  padding: 0;
  height: 100svh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgb(94, 255, 0),rgb(66, 0, 248));
}

.winner h2{
  margin: 0;
  padding: 30px 0 30px 0;
  font-size: 5vw;
}

.winner div button{
  width: 50%;
  /* height: 30px; */
}

.footer{
  height: 10svh;
  font-size: 15px;
  background-color: rgb(202, 133, 42);
  display: flex;
  justify-content: center;
  align-items: center;
}

.endName{
  color: white;
  font-size: 1.5vw;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}