.my{
  text-align: center;
}

.button{
  padding: 0 10px 0 10px;
  width: 33%;
  height: 50px;
  font-size: 30px;
  text-align: center;
}

.button_next{
  width: 200px;
  height: 50px;
  font-size: 20px;
}

.myHand{
  font-size: 30px;
  padding: 20px 0 20px 0;
  color: rgb(0, 0, 0);
  border: solid black 1px;
}

.myHandWin{
  font-size: 50px;
  color:red;
}

.myHandLoss{
  font-size: 20px;
  color:blue;
}

.myHandDraw{
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.header{
  height: 15vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main{
  /* height: 70vh; */
  /* min-height:calc(100svh - 30vh); */
  min-height:70svh;
  background-color: rgb(150, 138, 123);
  padding: 50px;
}

.footer{
  height: 15vh;
  background-color: rgb(202, 133, 42);
  display: flex;
  justify-content: center;
  align-items: center;
}